{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<h1 class="title">
    Welcome, {{ user.username }}!
</h1>
<h1 class="title">
    Other Users:
</h1>
{% for u in user_list %}
{% if u.email != user.email %}
<div>
    <body class="list">| Username: {{ u.username }} |</body>
    <body class="list">| Email: {{ u.email }} |</body>
    <body class="list">| Is Online?: {{ u.authenticated }} |</body>
</div>
{% endif %}
{% endfor %}
{% endblock %}
